{% extends "filmsai/wrapper.jinja2" %}

{% block title %}Добавление комментария - {{film.title}}{% endblock title %}

{% block body %}
<div class="container">

  <div class="info">
    <h4>Добавление комментария к фильму:</h3>
    <h3><a href="{% url 'film_details' film.id %}">{{film.title}}</a></h2>
  </div>
  <form method="post">
    {% csrf_token %}
    {{ form.as_div }}

    <input class="waves-effect waves-light btn red lighten-3" type="submit" value="Оставить комментарий">
  </form>
</div>
{% endblock body %}